{{!-- {{!< default}} --}}

<div class="container">
    <div class="jumbotron">
        <h1>Välkommen!</h1>
        <p>
            Welcome to the home of the <a href="https://www.vai.org/en/NewsRoom/press-release-02-05-14.aspx">DeVos Cardiovascular Research Program</a>. We are an interdisciplinary team of translational science researchers with four main areas of focus: cell engineering; multi-center patient treatment and clinical trials; cell source identification and scientific training; and development for future researchers including interns, fellows, and graduate students. Check out some of our projects below and explore the rest of the site to find out more!
        </p>
  	</div>
</div>

<div class="container center-content">

    <div class="row">

        <div class="col-md-4">
            <h2><i class="fa fa-flask"></i> Basic Science</h2>
            <p>
                Our laboratory's main objective is to generate new strategies to regenerate heart muscle: important to all types of Heart Failure, ischemic as well as non-ischemic.
            </p>
            <p>
                <a class="btn btn-default" href="/blog/basic-science" role="button">View details &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-medkit"></i> Clinical Trials</h2>
            <p>
                Our clinical group conducts trials in late stage heart failure patients with the goal of identifying and optimizing patient populations for novel therapies. 
            </p>

            <p>
                <a class="btn btn-default" href="/blog/clinical-trials" role="button">View details &raquo;</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2><i class="fa fa-leanpub"></i> Publications</h2>
            <p>
                Curious about our work? Check out some of our group's selected publications to get an idea of our wide-ranging contributions to field. 
            </p>
            <p>
                <a class="btn btn-default" href="/publications" role="button">View details &raquo;</a>
            </p>
        </div>
    </div>

</div>
