

#header {
	margin-top: 30px;
}

#footer {
	margin-top: 30px;
	border-top: 1px solid @gray-lighter;
	padding-top: 30px;
	color: @gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}








// this is for centering the navbar components when they are fixed
// credit goes here: http://stackoverflow.com/questions/10568103/modify-twitter-bootstrap-navbar
// body { padding-top: 70px; } if we want to center all of our stuffs...
// .center.navbar .nav,
// .center.navbar .nav > li {
//     float:none;
//     display:inline-block;
//     *display:inline; /* ie7 fix */
//     *zoom:1; /* hasLayout ie7 trigger */
//     vertical-align: top;
// }

// .center .navbar-inner {
//     text-align:center;
// }

// .center .dropdown-menu {
//     text-align: left;
// }